## Setup imports

In [1]:
import csv
import pandas as pd
from datasets import load_dataset
from database_interface import DatabaseHelper
from collections import Counter
MODEL_OUTPUT_PATH = "/scratch/eecs595f25_class_root/eecs595f25_class/llada_data/synthetic_text_to_sql/output_sql.csv"
OUTPUT_FILE_PATH = "/scratch/eecs595f25_class_root/eecs595f25_class/llada_data/synthetic_text_to_sql/valid_test.json"

## Load in initial dataset

In [2]:
retrieved_dataset = load_dataset("json", data_files=OUTPUT_FILE_PATH)["train"]
print(f"retrieved dataset, info={retrieved_dataset}")

retrieved dataset, info=Dataset({
    features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation'],
    num_rows: 3434
})

## Load and merge the results with the examples

In [3]:
model_res_df = pd.read_csv(MODEL_OUTPUT_PATH)
gold_standard_df = retrieved_dataset.to_pandas()
gold_standard_df = gold_standard_df.iloc[0:len(model_res_df)][[
    'id',
    'sql_complexity',
    'sql',
    'sql_context',
    'sql_prompt',
    'sql_explanation'
    
]]

eval_df = pd.merge(model_res_df, gold_standard_df,on='id')
# print(eval_df)
print(eval_df.iloc[29])

id                                                                51
out_sql            ["\nSELECT COUNT(*) AS number_of_patientsFROM ...
sql_complexity                                           single join
sql                SELECT COUNT(*) FROM patients INNER JOIN treat...
sql_context        CREATE TABLE patients (id INT, country VARCHAR...
sql_prompt         What is the number of patients in India who re...
sql_explanation    First, we join the patients and treatments tab...
Name: 29, dtype: object

## Setup Bag-of-cells to do analysis of each data cell in outputs (Gemini provided)

In [4]:
def get_cell_counts(df_gold, df_predicted):
    """
    Calculates Precision, Recall, and F1 score based on a 
    "Bag of Cells" (multiset of all values).
    """
    
    # --- 1. Flatten Gold DataFrame into a Counter ---
    # .values.flatten() turns the whole DF into a 1D numpy array
    # We must handle potential 'None' values which Counter might not like
    gold_cells = Counter([str(v) for v in df_gold.values.flatten() if v is not None])
    
    # --- 2. Flatten Predicted DataFrame into a Counter ---
    predicted_cells = Counter([str(v) for v in df_predicted.values.flatten() if v is not None])

    # --- 3. Calculate Scores ---
    
    # Handle the "divide by zero" case if no cells are returned
    total_gold = sum(gold_cells.values())
    total_predicted = sum(predicted_cells.values())

    # & (intersection) finds the element-wise minimum
    intersection = gold_cells & predicted_cells
    intersection_count = sum(intersection.values())
    
    # precision = intersection_count / total_predicted
    # recall = intersection_count / total_gold
        
    return intersection_count, total_predicted, total_gold


#test
df_gold_1 = pd.DataFrame([[1.0, 2000.0], [1.0, 2000.0], [2.0, 4000.0], [2.0, 4000.0]])
df_pred_1 = pd.DataFrame([[1.0, 2000.0], [2.0, 4000.0]])
p, r, f1 = get_cell_counts(df_gold_1, df_pred_1)
print(f"Example 1 F1: {f1:.2f} (P={p:.2f}, R={r:.2f})")


df_gold_2 = pd.DataFrame([['Commercial', 70.0]])
df_pred_2 = pd.DataFrame([[70.0]])
p, r, f1 = get_cell_counts(df_gold_2, df_pred_2)
print(f"Example 2 F1: {f1:.2f} (P={p:.2f}, R={r:.2f})")

Example 1 F1: 8.00 (P=4.00, R=4.00)
Example 2 F1: 2.00 (P=1.00, R=1.00)

## Iterate over examples and process the results!

In [5]:
sql_difficulty = eval_df['sql_complexity'].unique()
complexity_eval_res = {complexity:{"err_res":0, "correct":0, "parsable":0, "total":0, "cell_intersect":0, "cell_predict":0.000001, "cell_gold": 0.000001} for complexity in sql_difficulty}
print(complexity_eval_res)
count = 0
for index, row in eval_df.iterrows():
    model_sql_res = row.out_sql[1:len(row.out_sql)-1]
    complexity = row.sql_complexity
    complexity_eval_res[complexity]['total'] += 1
    if model_sql_res != "None":
        db_obj = DatabaseHelper(":memory:")
        db_obj.insert_data(row.sql_context)
        # Do minimal cleaning to pass the SQL
        cleaned_sql = model_sql_res.strip().strip("'").replace("\\n"," ").strip("\"")
        model_res, status = db_obj.fetch_data(cleaned_sql)
        
        if status != "failure":
            complexity_eval_res[complexity]['parsable'] += 1
        else:
            complexity_eval_res[complexity]['err_res'] += 1
            print(f"Prompt:{row.sql_prompt}")
            print("--------")
            print(f"SQL of res: {cleaned_sql}")
            print(f"SQL of truth: {row.sql}")
            print("--------")
            print()
        
            
        # If SQL parsed, increment score
        # complexity_eval_res[complexity]['parsable'] += 1
#         if model_res.empty:
#             # print(f"ID:{index} -- SQL that caused error:\n{model_sql_res}\n")
#             continue
            
        truth_res, status = db_obj.fetch_data(row.sql)
        # try:
        model_res_normalized = Counter(
            [tuple(sorted(row, key=str)) for row in model_res.values.tolist()]
        )
        truth_res_normalized = Counter(
            [tuple(sorted(row, key=str)) for row in truth_res.values.tolist()]
        )
        # except Exception as e:
        #     print("PARSING ISSUE")
        #     print(e)
        #     print("DATA:")
        #     print(truth_res)
        #     print(model_res)
        # if model_res_normalized != truth_res_normalized and complexity == "subqueries":
        #     print(f"DEBUG:\n Model res:\n{model_res_normalized}\nTruth res:\n{truth_res_normalized}\n")
        #     print(f"Prompt:{row.sql_prompt}")
        #     print(f"SQL of res: {cleaned_sql}")
        #     print(f"SQL of truth: {row.sql}")
        #     print(f"SQL explanation: {row.sql_explanation}")
        #     print("---------")
        # Give correct point for results that are matched
        # Note: This is a naive method which doesn't consider ORDER by. We will assume the non-ordered data considered 'correct'
        
        complexity_eval_res[complexity]['correct'] += 1 if model_res_normalized == truth_res_normalized else 0
        # get cell matches
        intersect_count, predict_count, gold_count = get_cell_counts(truth_res, model_res)
    
        # if complexity == "subqueries":
        #     print("MODEL RES")
        #     print(model_res)
        #     print("TRUTH RES")
        #     print(truth_res)
        #     print(get_cell_counts(truth_res, model_res))
        #     count += 1
        #     print("number of subqueires considered:",count)
        complexity_eval_res[complexity]['cell_intersect'] += intersect_count
        complexity_eval_res[complexity]['cell_predict'] += predict_count
        complexity_eval_res[complexity]['cell_gold'] += gold_count

{'basic SQL': {'err_res': 0, 'correct': 0, 'parsable': 0, 'total': 0, 'cell_intersect': 0, 'cell_predict': 1e-06, 'cell_gold': 1e-06}, 'aggregation': {'err_res': 0, 'correct': 0, 'parsable': 0, 'total': 0, 'cell_intersect': 0, 'cell_predict': 1e-06, 'cell_gold': 1e-06}, 'window functions': {'err_res': 0, 'correct': 0, 'parsable': 0, 'total': 0, 'cell_intersect': 0, 'cell_predict': 1e-06, 'cell_gold': 1e-06}, 'single join': {'err_res': 0, 'correct': 0, 'parsable': 0, 'total': 0, 'cell_intersect': 0, 'cell_predict': 1e-06, 'cell_gold': 1e-06}, 'multiple_joins': {'err_res': 0, 'correct': 0, 'parsable': 0, 'total': 0, 'cell_intersect': 0, 'cell_predict': 1e-06, 'cell_gold': 1e-06}, 'subqueries': {'err_res': 0, 'correct': 0, 'parsable': 0, 'total': 0, 'cell_intersect': 0, 'cell_predict': 1e-06, 'cell_gold': 1e-06}, 'set operations': {'err_res': 0, 'correct': 0, 'parsable': 0, 'total': 0, 'cell_intersect': 0, 'cell_predict': 1e-06, 'cell_gold': 1e-06}}
An error occurred: near "patients": syntax error, returning empty DataFrame
Prompt:What is the number of patients in India who received group therapy?
--------
SQL of res:  SELECT COUNT(*) AS number_of_patientsFROM patients pJOIN treatments t ON p.id = t.patient_idWHERE p.country = 'India' AND t.treatment = 'Group Therapy';
SQL of truth: SELECT COUNT(*) FROM patients INNER JOIN treatments ON patients.id = treatments.patient_id WHERE treatments.treatment = 'Group Therapy' AND patients.country = 'India';
--------

An error occurred: near "average_tipping_fee": syntax error, returning empty DataFrame
Prompt:What is the average landfill tipping fee for each region?
--------
SQL of res:  average_tipping_fee AS SELECT AVG(tipping_fee) AS average_tipping_fee FROM Landfill_All GROUP BY region;
SQL of truth: SELECT region, AVG(tipping_fee) FROM Landfill_All GROUP BY region;
--------

An error occurred: You can only execute one statement at a time., returning empty DataFrame
Prompt:What is the difference between the average satisfaction score of models trained on dataset D and dataset C, for each continent?
--------
SQL of res:  SELECT     continent,     AVG(satisfaction) AS avg_satisfaction_D FROM models AS_satisfaction_D WHERE dataset = 'datasetD' GROUP BY continent;  SELECT  continent,     AVG(satisfaction) AS avg_satisfaction_C FROM models AS_satisfaction_C WHERE dataset = 'datasetC' GROUP BY continent;  SELECT     continent,     avg_satisfaction_D - avg_satisfaction_C AS difference FROM AS_satisfaction_D JOIN AS_satisfaction_C ON AS_satisfaction_D.continent = AS_satisfaction_C.continent;
SQL of truth: SELECT continent, AVG(m.satisfaction) - (SELECT AVG(satisfaction) FROM models m2 WHERE m.continent = m2.continent AND m2.dataset = 'datasetC') FROM models m WHERE m.dataset = 'datasetD' GROUP BY continent;
--------

An error occurred: near "THEN": syntax error, returning empty DataFrame
Prompt:How many volunteers are there in total, and how many of them are from Africa?
--------
SQL of res:  SELECT COUNT(*) AS total_volunteers,        COUNT(CASE region = 'Africa' THEN 1 END) AS africa_volunteers FROM volunteers;
SQL of truth: SELECT COUNT(*), SUM(region = 'Africa') FROM volunteers;
--------

An error occurred: near "The": syntax error, returning empty DataFrame
Prompt:What is the average co-ownership price per square foot in the Bay Area?
--------
SQL of res: The average co-ownership price per square foot in the Bay Area can be calculated as follows:  SELECT AVG(price / size) AS avg_price_per_sqft FROM bay_area_prop WHERE co_ownership = TRUE;
SQL of truth: SELECT AVG(price / size) FROM bay_area_prop WHERE co_ownership = TRUE;
--------

An error occurred: near "a": syntax error, returning empty DataFrame
Prompt:What is the average water consumption per capita in Tokyo and Seoul for the year 2019?
--------
SQL of res:  SELECT      AVG(a.water_consumption / p.population) AS average_water_consumption_per_capita FROM      asia_water_consumption a JOIN      asia_population p  a.city = p.city  a.year = 2019 GROUP BY     a.city;
SQL of truth: SELECT AVG(awc.water_consumption / ap.population) FROM asia_water_consumption awc INNER JOIN asia_population ap ON awc.city = ap.city WHERE awc.year = 2019;
--------

An error occurred: near "state": syntax error, returning empty DataFrame
Prompt:What was the total funding for 'Art' programs in 'Texas' and 'California'?
--------
SQL of res:  SELECT SUM(funding_amount) AS total_funding FROM Programs WHERE focus = 'Art'  state IN ('Texas', 'California');
SQL of truth: SELECT SUM(funding_amount) FROM Programs WHERE (state = 'Texas' OR state = 'California') AND focus = 'Art';
--------

An error occurred: no such column: YEAR, returning empty DataFrame
Prompt:Summarize the total number of eco-tourists who visited Japan, Thailand, and Indonesia in Q1 and Q2 of 2021
--------
SQL of res:  SELECT      SUM(eco_tourists) AS total_eco_tourists FROM      EcoTouristsQ1Q2 WHERE      country IN ('Japan', 'Thailand', 'Indonesia')     AND quarter IN (1, 2)     AND YEAR = 2021;
SQL of truth: SELECT country, SUM(eco_tourists) AS total_eco_tourists FROM EcoTouristsQ1Q2 WHERE country IN ('Japan', 'Thailand', 'Indonesia') AND quarter IN (1, 2) GROUP BY country;
--------

An error occurred: near ")": syntax error, returning empty DataFrame
Prompt:What are the total copper exports and CO2 emissions from Chile between 2016 and 2018?
--------
SQL of res:  SELECT SUM(export_amount) AS total_copper_export, SUM.emission) AS total_co2_emission FROM chile_copper_export WHERE chile_copper_export.year BETWEEN 2016 AND 2018 JOIN chile_co2_emission ON chile_copper_export.year = chile_co2_emission.year WHERE chile_co2_emission.year BETWEEN 2016 AND 2018;
SQL of truth: SELECT SUM(chile_copper_export.export_amount), SUM(chile_co2_emission.emission) FROM chile_copper_export INNER JOIN chile_co2_emission ON chile_copper_export.year = chile_co2_emission.year WHERE chile_copper_export.year BETWEEN 2016 AND 2018;
--------

An error occurred: near "=": syntax error, returning empty DataFrame
Prompt:What is the total number of broadband customers and the total connection speed in Mbps for each region in 2021?
--------
SQL of res:  SELECT      s.region,     COUNT(subs.id) AS total_broadband_customers,     SUM(s.connection_speed) AS total_connection_speed FROM      subscribers subs JOIN      speeds s ON subs.id = s.subscriber_id WHERE      subs.service = 'broadband' AND s.year = = 2021 GROUP BY      s.region;
SQL of truth: SELECT subscribers.region, COUNT(subscribers.id) AS total_customers, SUM(speeds.connection_speed) AS total_speed FROM subscribers JOIN speeds ON subscribers.id = speeds.subscriber_id WHERE subscribers.service = 'broadband' AND speeds.year = 2021 GROUP BY subscribers.region;
--------

An error occurred: no such column: a.animals, returning empty DataFrame
Prompt:What is the ratio of community education programs to animals in each habitat type?
--------
SQL of res:  SELECT     e.type,     e.programs,     a.animals,     (e.programs / ap.animals) AS ratio FROM     education e JOIN     animal_population ap ON e.type = ap.type ORDER BY     e.type;
SQL of truth: SELECT a.type, programs/animals as ratio FROM education a JOIN animal_population b ON a.type = b.type;
--------

An error occurred: near "AS": syntax error, returning empty DataFrame
Prompt:What is the percentage of trips that are multimodal?
--------
SQL of res:  SELECT      ((trips_count / total_trips_count) * 100 AS multimodal_percentage FROM      (         SELECT              COUNT(*)         FROM              trips         WHERE              mode1 IS NOT NULL AND mode2 IS NOT NULL     ) AS trips_count, CROSS JOIN      (         SELECT              COUNT(*)         FROM              trips         WHERE              mode1 IS NOT NULL OR mode2 IS NOT NULL     ) AS total_trips_count;
SQL of truth: SELECT AVG(CASE WHEN mode1 <> mode2 THEN 1 ELSE 0 END) as avg_multimodal FROM trips;
--------

An error occurred: no such table: sensor, returning empty DataFrame
Prompt:Find the sensor with the maximum water level in the 'sensor_data' table
--------
SQL of res:  SELECT sensor_id, water_level, timestamp FROM sensor sensor_data WHERE sensor_data.water_level = (SELECT MAX(water_level) FROM sensor_data);
SQL of truth: SELECT sensor_id, MAX(water_level) as max_water_level FROM sensor_data;
--------

An error occurred: no such column: TotalCount, returning empty DataFrame
Prompt:What is the diversity ratio (percentage of non-male employees) in each department?
--------
SQL of res:  SELECT     Department,     (SELECT CASE WHEN Gender = 'Male' THEN 1 ELSE 0 END FROM Employees WHERE Department = Department) AS MaleCount,     (SELECT CASE WHEN Gender = 'Female' THEN 1 ELSE 0 END FROM Employees WHERE Department = Department) AS FemaleCount,     (SELECT CASE WHEN Gender = 'Non-binary' THEN 1 ELSE 0 END FROM Employees WHERE Department = Department) AS NonBinaryCount,     (SELECT CASE WHEN Gender = 'Male' THEN 1 ELSE 0 END FROM Employees WHERE Department = Department) + (SELECT CASE WHEN Gender = 'Female' THEN 1 ELSE 0 END FROM Employees WHERE Department = Department) + (SELECT CASE WHEN Gender = 'Non-binary' THEN 1 ELSE 0 END FROM Employees WHERE Department = Department) AS TotalCount,     (SELECT CASE WHEN Gender = 'Female' THEN 1 ELSE 0 END FROM Employees WHERE Department = Department) + (SELECT CASE WHEN Gender = 'Non-binary' THEN 1 ELSE 0 END FROM Employees WHERE Department = Department) / TotalCount - 1 AS DiversityRatio FROM     Employees GROUP BY     Department;
SQL of truth: SELECT Department, (COUNT(CASE WHEN Gender <> 'Male' THEN 1 END) / COUNT(*)) * 100 AS DiversityRatio FROM Employees GROUP BY Department;
--------

An error occurred: no such column: a.collectionartist_id, returning empty DataFrame
Prompt:What is the average price of paintings from African artists in our collection?
--------
SQL of res:  SELECT AVG(a.price) AS average_price FROM Artworks a JOIN Collections c ON a.collectionartist_id = c.id WHERE a.artist_nationality = 'African' AND c.continent = 'Africa';
SQL of truth: SELECT AVG(Artworks.price) FROM Artworks INNER JOIN Collections ON Artworks.artist_nationality = Collections.continent WHERE Artworks.medium = 'Painting' AND Collections.continent = 'Africa';
--------

An error occurred: near "SELECT": syntax error, returning empty DataFrame
Prompt:Determine the percentage of sales for each product category in each state
--------
SQL of res:  WITH      total_sales AS         SELECT              product_category,             state,             SUM(sales) AS total_sales         FROM              sales         GROUP BY              product_category, state ) SELECT      s.product_category,     s.state,     s.sales,     (s.sales / ts.total_sales) * 100 AS percentage_of_sales FROM      sales s JOIN      total_sales ts ON      s.product_category = ts.product_category     AND s.state = ts.state ORDER BY      s.product_category, s.state;
SQL of truth: SELECT s1.product_category, s1.state, SUM(s1.sales) / (SELECT SUM(s2.sales) FROM sales s2 WHERE s2.state = s1.state) FROM sales s1 GROUP BY s1.product_category, s1.state;
--------

An error occurred: no such column: s.vehicle_id, returning empty DataFrame
Prompt:What is the total number of electric vehicles sold in 'California' in the 'sales' schema?
--------
SQL of res:  SELECT SUM(s.vehicle_count) AS total_electric_vehicles FROM sales s JOIN sales_regions sr ON s.region_id = sr.id JOIN vehicles v ON s.vehicle_id = v.id WHERE sr.name = 'California' AND v.type = 'electric';
SQL of truth: SELECT SUM(sales.vehicle_count) FROM sales INNER JOIN sales_regions ON sales.region_id = sales_regions.id INNER JOIN vehicles ON sales.id = vehicles.id WHERE vehicles.type = 'electric' AND sales_regions.name = 'California';
--------

An error occurred: no such column: waste, returning empty DataFrame
Prompt:What was the recycling rate for 'Organic' and 'Electronic' waste types in 'UrbanArea' in 2020?
--------
SQL of res:  SELECT waste_type, rate FROM recycling_rates WHERE waste = 'Organic' OR waste_type = 'Electronic'   AND location = 'UrbanArea'   AND year = 2020;
SQL of truth: SELECT waste_type, rate FROM recycling_rates WHERE location = 'UrbanArea' AND year = 2020 AND waste_type IN ('Organic', 'Electronic');
--------

An error occurred: near "THEN": syntax error, returning empty DataFrame
Prompt:What is the success rate of agricultural innovation projects in rural areas of Indonesia?
--------
SQL of res:  SELECT COUNT(*) AS total_projects, (success = TRUE THEN 1 ELSE 0 END) AS successful_projects, (SUM(CASE WHEN success = TRUE THEN 1 ELSE 0 END) / COUNT(*)) * 100 AS success_rate FROM indonesia_projects WHERE location = 'rural';
SQL of truth: SELECT 100.0 * SUM(success) / COUNT(*) FROM indonesia_projects WHERE location = 'rural';
--------

An error occurred: 'NoneType' object is not iterable, returning empty DataFrame
Prompt:What is the total number of military personnel in the USA and the average salary for each country?
--------
SQL of res:  -- Total number of military personnel in the USA SELECT COUNT(*) AS total_personnel_usa FROM military_personnel WHERE country = 'USA';  -- Average salary for each country SELECT country, AVG(salary) AS average_salary FROM military_personnel GROUP BY country;
SQL of truth: SELECT mc.country, AVG(mc.salary) as avg_salary, COUNT(mc.id) as total_personnel FROM military_personnel mc GROUP BY mc.country;
--------

An error occurred: 'NoneType' object is not iterable, returning empty DataFrame
Prompt:What is the racial and ethnic diversity of the company?
--------
SQL of res:  --  SELECT      id,     name,     race,     ethnicity FROM      employees;
SQL of truth: SELECT race, COUNT(*) as num_employees, CONCAT(ROUND(COUNT(*) / (SELECT COUNT(*) FROM employees) * 100, 2), '%') as percent_of_employees FROM employees GROUP BY race;
--------

An error occurred: ambiguous column name: a.id, returning empty DataFrame
Prompt:What is the total number of articles written by each author in each region?
--------
SQL of res:  SELECT     a.name,     r.name,     COUNT(a.id) AS total_articles FROM     authors a JOIN     articles a ON a.id = a.author_id JOIN     regions r ON a.region_id = r.id GROUP BY     a.name,     r.name;
SQL of truth: SELECT authors.name, regions.name, COUNT(articles.id) FROM authors INNER JOIN articles ON authors.id = articles.author_id INNER JOIN regions ON regions.id = articles.region_id GROUP BY authors.name, regions.name;
--------

An error occurred: near "quarter": syntax error, returning empty DataFrame
Prompt:What is the quarterly recycling rate for 'Plastic' in 'Australia' from Q1 2020 to Q2 2020?
--------
SQL of res:  SELECT recycling_rate FROM australia_recycling_rates WHERE material = 'Plastic' AND year = 2020 ORDER quarter;
SQL of truth: SELECT quarter, recycling_rate FROM australia_recycling_rates WHERE material = 'Plastic' AND (year = 2020 AND quarter IN ('Q1', 'Q2'));
--------

An error occurred: no such column: c.State, returning empty DataFrame
Prompt:What is the success rate of cases handled by attorneys who have passed the bar exam in the state where they practice?
--------
SQL of res:  SELECT      CASE         WHEN c.Outcome = 'won' THEN 1         ELSE 0     END AS Success FROM     Cases c JOIN     Attorneys a ON c.AttorneyID = a.AttorneyID WHERE     a.BarPassed = 'yes' AND a.State = c.State;
SQL of truth: SELECT AVG(CASE WHEN Outcome = 'won' THEN 1.0 ELSE 0.0 END) as SuccessRate FROM Cases C INNER JOIN Attorneys A ON C.AttorneyID = A.AttorneyID WHERE A.BarPassed = 'yes';
--------

An error occurred: no such column: WinCount.HIGHING, returning empty DataFrame
Prompt:Who has the highest number of wins as a coach for each team in a season?
--------
SQL of res:  SELECT     c.CoachName,     c.TeamID,     COUNT(m.HomeTeamResult = 'Win') AS WinCount FROM     Coach c JOIN     Match m ON c.TeamID = m.HomeTeamID GROUP BY     c.CoachName,     c.TeamID ORDER BY     WinCount.HIGHING;
SQL of truth: SELECT c.TeamID, c.CoachName, COUNT(CASE WHEN h.HomeTeamResult = 'Win' THEN 1 END) + COUNT(CASE WHEN a.HomeTeamResult = 'Win' THEN 1 END) AS Wins FROM Coach c LEFT JOIN Match h ON c.TeamID = h.HomeTeamID AND h.HomeTeamResult = 'Win' LEFT JOIN Match a ON c.TeamID = a.AwayTeamID AND a.HomeTeamResult = 'Win' GROUP BY c.TeamID, c.CoachName ORDER BY Wins DESC;
--------

An error occurred: no such column: daily_revenuevenue, returning empty DataFrame
Prompt:What is the daily revenue trend for all restaurants?
--------
SQL of res:  SELECT date, daily_revenuevenue AS daily_revenuevenue FROM daily_revenue GROUP BY date;ORDER BY date;
SQL of truth: SELECT date, restaurant_id, revenue FROM daily_revenue;
--------

An error occurred: You can only execute one statement at a time., returning empty DataFrame
Prompt:What is the total quantity of items with type 'E' or type 'F' in warehouse O and warehouse P?
--------
SQL of res:  SELECT SUM(quantity) AS total_o_quantity FROM warehouse_o WHERE item_type IN ('E', 'F');  SELECT SUM(quantity) AS total_p_quantity FROM warehouse_p WHERE item_type IN ('E', 'F');
SQL of truth: SELECT quantity FROM warehouse_o WHERE item_type IN ('E', 'F') UNION ALL SELECT quantity FROM warehouse_p WHERE item_type IN ('E', 'F');
--------

An error occurred: no such column: country, returning empty DataFrame
Prompt:Get the count of 'Vegan Leather Shoes' orders in France with a quantity greater than 3.
--------
SQL of res:  SELECT COUNT(*) FROM orders WHERE garment_id = 1   AND country = 'France'   AND quantity > 3;
SQL of truth: SELECT COUNT(*) FROM orders INNER JOIN garments ON orders.garment_id = garments.id WHERE garments.name = 'Vegan Leather Shoes' AND garments.country = 'France' AND orders.quantity > 3;
--------

An error occurred: no such column: away.away_team_rebounds, returning empty DataFrame
Prompt:Who has the highest number of rebounds for the Raptors?
--------
SQL of res:  SELECT away.team_name, away.away_team_rebounds FROM teams away JOIN games g ON g.away_team_id = away.team_id WHERE away.team_name = 'Raptors' ORDER BY away.away_team_rebounds DESC LIMIT 1;
SQL of truth: SELECT home_team_rebounds, away_team_rebounds, (home_team_rebounds + away_team_rebounds) as total_rebounds FROM games WHERE home_team_id = (SELECT team_id FROM teams WHERE team_name = 'Raptors') OR away_team_id = (SELECT team_id FROM teams WHERE team_name = 'Raptors') ORDER BY total_rebounds DESC LIMIT 1;
--------

An error occurred: 'NoneType' object is not iterable, returning empty DataFrame
Prompt:What is the total number of peacekeeping operations in the Middle East and their average duration?
--------
SQL of res:  --  SELECT COUNT(*) AS total_operations_count, AVG(DATEDIFF(start_date, end_date)) AS average_duration FROM PeacekeepingOperationsMiddleEast;
SQL of truth: SELECT COUNT(*) AS total_operations, AVG(end_date - start_date) AS avg_duration FROM PeacekeepingOperationsMiddleEast;
--------

An error occurred: near ")": syntax error, returning empty DataFrame
Prompt:find the total attendance for exhibits 1 and 2
--------
SQL of res:  SELECT SUM.attendance) AS total_attendance FROM exhibition_statistics WHERE exhibit_id IN (1, 2);
SQL of truth: SELECT SUM(attendance) FROM exhibition_statistics WHERE exhibit_id IN (1, 2);
--------

An error occurred: no such column: t.ec_friendly, returning empty DataFrame
Prompt:What is the average number of eco-friendly tours offered per hotel in Paris?
--------
SQL of res:  SELECT      AVG(t.ec_friendly) AS average_eco_friendly_tours FROM      hotels h JOIN      tours t ON h.id = t.hotel_id WHERE      h.city = 'Paris';
SQL of truth: SELECT AVG(t.eco_friendly) FROM tours t JOIN hotels h ON t.hotel_id = h.id WHERE h.city = 'Paris' AND t.eco_friendly = true;
--------

An error occurred: near ")": syntax error, returning empty DataFrame
Prompt:What is the percentage of revenue generated from sustainable tourism in Europe?
--------

In [6]:
print(complexity_eval_res)

{'basic SQL': {'err_res': 15, 'correct': 120, 'parsable': 142, 'total': 577, 'cell_intersect': 230, 'cell_predict': 271.000001, 'cell_gold': 305.000001}, 'aggregation': {'err_res': 5, 'correct': 39, 'parsable': 52, 'total': 234, 'cell_intersect': 242, 'cell_predict': 277.000001, 'cell_gold': 319.000001}, 'window functions': {'err_res': 1, 'correct': 1, 'parsable': 11, 'total': 33, 'cell_intersect': 60, 'cell_predict': 88.000001, 'cell_gold': 115.000001}, 'single join': {'err_res': 10, 'correct': 26, 'parsable': 35, 'total': 134, 'cell_intersect': 76, 'cell_predict': 109.000001, 'cell_gold': 115.000001}, 'multiple_joins': {'err_res': 4, 'correct': 1, 'parsable': 2, 'total': 18, 'cell_intersect': 2, 'cell_predict': 2.000001, 'cell_gold': 29.000000999999997}, 'subqueries': {'err_res': 6, 'correct': 3, 'parsable': 5, 'total': 48, 'cell_intersect': 4, 'cell_predict': 4.000001, 'cell_gold': 35.000001}, 'set operations': {'err_res': 1, 'correct': 0, 'parsable': 1, 'total': 7, 'cell_intersect': 0, 'cell_predict': 1e-06, 'cell_gold': 12.000001000000001}}

In [14]:
for complexity, counts in complexity_eval_res.items():
    print(f"Complexity: {complexity}, num. samples = {counts['total']}")
    print(f"   Macro stats -- error/parsable ratio: {counts['err_res']/counts['parsable']:.2} | correct:{counts['correct']/counts['total']:.2} | parsable: {counts['parsable']/counts['total']:.2}")
    print(f"   err count: {counts['err_res']} | parsable count: {counts['parsable']}")
    precision = counts['cell_intersect']/counts['cell_predict']
    recall = counts['cell_intersect']/counts['cell_gold']
    print(f"   Cell stats -- precision:{precision:.2} | recall:{recall:.2} | F1: {(2 * precision * recall) / (precision + recall+1e-9)}")
    # precision = intersection_count / total_predicted
    #recall = intersection_count / total_gold
    
print("*" * 100)
print("Micro-averaged scores:")
micro_accuracy = overall_counts['correct']/overall_counts['total']
micro_parsable = overall_counts['parsable']/overall_counts['total']
micro_precision = overall_counts['cell_intersect']/overall_counts['cell_predict']
micro_recall = overall_counts['cell_intersect']/overall_counts['cell_gold']
micro_f1 = (2 * micro_precision * micro_recall) / (micro_precision + micro_recall+1e-9)
print(f"   Micro Accuracy: {micro_accuracy:.2}")
print(f"   Micro Parsable: {micro_parsable:.2}")
print(f"   Micro Precision: {micro_precision:.2}")
print(f"   Micro Recall: {micro_recall:.2}")


print("*" * 100)
# Macro accuracy, precision, recall and F1 can be calculated by averaging the values across complexities
print("Macro-averaged scores:")
macro_accuracy = sum([scores_by_complexity[comp]['accuracy'] for comp in scores_by_complexity]) / len(scores_by_complexity)
macro_parsable = sum([scores_by_complexity[comp]['parsable'] for comp in scores_by_complexity]) / len(scores_by_complexity)
macro_precision = sum([scores_by_complexity[comp]['precision'] for comp in scores_by_complexity]) / len(scores_by_complexity)
macro_recall = sum([scores_by_complexity[comp]['recall'] for comp in scores_by_complexity]) / len(scores_by_complexity)
macro_f1 = sum([scores_by_complexity[comp]['f1'] for comp in scores_by_complexity]) / len(scores_by_complexity)
print(f"   Macro Accuracy: {macro_accuracy:.2}")
print(f"   Macro Parsable: {macro_parsable:.2}")
print(f"   Macro Precision: {macro_precision:.2}")
print(f"   Macro Recall: {macro_recall:.2}")

Complexity: basic SQL, num. samples = 577
   Macro stats -- error/parsable ratio: 0.11 | correct:0.21 | parsable: 0.25
   err count: 15 | parsable count: 142
   Cell stats -- precision:0.85 | recall:0.75 | F1: 0.7986111078398981
Complexity: aggregation, num. samples = 234
   Macro stats -- error/parsable ratio: 0.096 | correct:0.17 | parsable: 0.22
   err count: 5 | parsable count: 52
   Cell stats -- precision:0.87 | recall:0.76 | F1: 0.8120805336901321
Complexity: window functions, num. samples = 33
   Macro stats -- error/parsable ratio: 0.091 | correct:0.03 | parsable: 0.33
   err count: 1 | parsable count: 11
   Cell stats -- precision:0.68 | recall:0.52 | F1: 0.5911329986109831
Complexity: single join, num. samples = 134
   Macro stats -- error/parsable ratio: 0.29 | correct:0.19 | parsable: 0.26
   err count: 10 | parsable count: 35
   Cell stats -- precision:0.7 | recall:0.66 | F1: 0.6785714220131138
Complexity: multiple_joins, num. samples = 18
   Macro stats -- error/parsable ratio: 2.0 | correct:0.056 | parsable: 0.11
   err count: 4 | parsable count: 2
   Cell stats -- precision:1.0 | recall:0.069 | F1: 0.1290322496191472
Complexity: subqueries, num. samples = 48
   Macro stats -- error/parsable ratio: 1.2 | correct:0.062 | parsable: 0.1
   err count: 6 | parsable count: 5
   Cell stats -- precision:1.0 | recall:0.11 | F1: 0.2051281944247211
Complexity: set operations, num. samples = 7
   Macro stats -- error/parsable ratio: 1.0 | correct:0.0 | parsable: 0.14
   err count: 1 | parsable count: 1
   Cell stats -- precision:0.0 | recall:0.0 | F1: 0.0
****************************************************************************************************
Micro-averaged scores:

NameError: name 'overall_counts' is not defined

In [15]:
scores_by_complexity = {}

for complexity, counts in complexity_eval_res.items():
    print(f"Complexity: {complexity}, num. samples = {counts['total']}")
    print(f"   Macro stats -- correct:{counts['correct']/counts['total']:.2} | parsable: {counts['parsable']/counts['total']:.2}")
    precision = counts['cell_intersect']/counts['cell_predict']
    recall = counts['cell_intersect']/counts['cell_gold']
    print(f"   Cell stats -- precision:{precision:.2} | recall:{recall:.2} | F1: {(2 * precision * recall) / (precision + recall+1e-9)}")
    
    scores_by_complexity[complexity] = {
        "accuracy": counts['correct']/counts['total'],
        "parsable": counts['parsable']/counts['total'],
        "precision": precision,
        "recall": recall,
        "f1": (2 * precision * recall) / (precision + recall+1e-9)
    }
    # precision = intersection_count / total_predicted
    #recall = intersection_count / total_gold

# Overall stats
overall_counts = {"correct":0, "parsable":0, "total":0, "cell_intersect":0, "cell_predict":0.000001, "cell_gold": 0.000001}
for complexity, counts in complexity_eval_res.items():
    overall_counts['correct'] += counts['correct']
    overall_counts['parsable'] += counts['parsable']
    overall_counts['total'] += counts['total']
    overall_counts['cell_intersect'] += counts['cell_intersect']
    overall_counts['cell_predict'] += counts['cell_predict']
    overall_counts['cell_gold'] += counts['cell_gold']
# print(f"Overall Complexity: num. samples = {overall_counts['total']}")
# print(f"   Micro stats -- correct:{overall_counts['correct']/overall_counts['total']:.2} | parsable: {overall_counts['parsable']/overall_counts['total']:.2}")
# precision = overall_counts['cell_intersect']/overall_counts['cell_predict']
# recall = overall_counts['cell_intersect']/overall_counts['cell_gold']
# print(f"   Cell stats -- precision:{precision:.2} | recall:{recall:.2} | F1: {(2 * precision * recall) / (precision + recall+1e-9)}")
print("*" * 100)
print("Micro-averaged scores:")
micro_accuracy = overall_counts['correct']/overall_counts['total']
micro_parsable = overall_counts['parsable']/overall_counts['total']
micro_precision = overall_counts['cell_intersect']/overall_counts['cell_predict']
micro_recall = overall_counts['cell_intersect']/overall_counts['cell_gold']
micro_f1 = (2 * micro_precision * micro_recall) / (micro_precision + micro_recall+1e-9)
print(f"   Micro Accuracy: {micro_accuracy:.2}")
print(f"   Micro Parsable: {micro_parsable:.2}")
print(f"   Micro Precision: {micro_precision:.2}")
print(f"   Micro Recall: {micro_recall:.2}")


print("*" * 100)
# Macro accuracy, precision, recall and F1 can be calculated by averaging the values across complexities
print("Macro-averaged scores:")
macro_accuracy = sum([scores_by_complexity[comp]['accuracy'] for comp in scores_by_complexity]) / len(scores_by_complexity)
macro_parsable = sum([scores_by_complexity[comp]['parsable'] for comp in scores_by_complexity]) / len(scores_by_complexity)
macro_precision = sum([scores_by_complexity[comp]['precision'] for comp in scores_by_complexity]) / len(scores_by_complexity)
macro_recall = sum([scores_by_complexity[comp]['recall'] for comp in scores_by_complexity]) / len(scores_by_complexity)
macro_f1 = sum([scores_by_complexity[comp]['f1'] for comp in scores_by_complexity]) / len(scores_by_complexity)
print(f"   Macro Accuracy: {macro_accuracy:.2}")
print(f"   Macro Parsable: {macro_parsable:.2}")
print(f"   Macro Precision: {macro_precision:.2}")
print(f"   Macro Recall: {macro_recall:.2}")

Complexity: basic SQL, num. samples = 577
   Macro stats -- correct:0.21 | parsable: 0.25
   Cell stats -- precision:0.85 | recall:0.75 | F1: 0.7986111078398981
Complexity: aggregation, num. samples = 234
   Macro stats -- correct:0.17 | parsable: 0.22
   Cell stats -- precision:0.87 | recall:0.76 | F1: 0.8120805336901321
Complexity: window functions, num. samples = 33
   Macro stats -- correct:0.03 | parsable: 0.33
   Cell stats -- precision:0.68 | recall:0.52 | F1: 0.5911329986109831
Complexity: single join, num. samples = 134
   Macro stats -- correct:0.19 | parsable: 0.26
   Cell stats -- precision:0.7 | recall:0.66 | F1: 0.6785714220131138
Complexity: multiple_joins, num. samples = 18
   Macro stats -- correct:0.056 | parsable: 0.11
   Cell stats -- precision:1.0 | recall:0.069 | F1: 0.1290322496191472
Complexity: subqueries, num. samples = 48
   Macro stats -- correct:0.062 | parsable: 0.1
   Cell stats -- precision:1.0 | recall:0.11 | F1: 0.2051281944247211
Complexity: set operations, num. samples = 7
   Macro stats -- correct:0.0 | parsable: 0.14
   Cell stats -- precision:0.0 | recall:0.0 | F1: 0.0
****************************************************************************************************
Micro-averaged scores:
   Micro Accuracy: 0.18
   Micro Parsable: 0.24
   Micro Precision: 0.82
   Micro Recall: 0.66
****************************************************************************************************
Macro-averaged scores:
   Macro Accuracy: 0.1
   Macro Parsable: 0.2
   Macro Precision: 0.73
   Macro Recall: 0.41